/* app/styles/globals.css */
/* @import "@chakra-ui/react/dist/theme.min.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for Navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #181818;
  color: white;
}

.navbar .logo h1 {
  font-size: 1.8rem;
}

.navbar .links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar .links a:hover {
  text-decoration: underline;
}

/* Basic styling for Footer */
.footer {
  background-color: #181818;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer p {
  margin-bottom: 1rem;
}

/* Make footer stick to the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.links {
  display: flex;

}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Ensures the text appears above the carousel */
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: bold;
  color: white; /* Adjust color for better contrast with the image */
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Adds a shadow for better readability */
}

.carousel-container .carousel {
  position: relative;
  z-index: 1; /* Ensures the carousel is behind the text */
}
