.animated-planet {
    position: absolute;
    top: -150px;
    left: -360px;
    animation: movePlanet 40s linear infinite;
    z-index: 0;
  }
  
  @keyframes movePlanet {
    0% {
        top: -150px;
        left: -360px;
        transform: scale(0.15);
        opacity: .95;
    }
    20% {
        opacity: 1;
    }
    46% {
        top: 18%;
        left: 35%;
        transform: scale(1.4) rotate(-35deg);
    }
    50% {
        top: 18.7%;
        left: 40%;
        transform: scale(1.45) rotate(-32deg);
        opacity: 1;
      }
    56% {
        transform: scale(1.4) rotate(-30deg);
        top: 18%;
    }
    73% {
        top: 13%;
        transform: rotate(-20deg);
        opacity: 1;
    }
    95% {
        top: 5%;
        opacity: .95;
    }
    100% {
        top: 0%;
        left: 105%;
        transform: scale(.05) rotate(0deg);
        opacity: .05;
    }
  }
  